<div class="container text-center">
  <div class="row">
    <div class="col" *ngFor="let i of arrCourses">
      <div class="card" style="width: 18rem;" *ngIf="i.flag">
        <ul class="list-group list-group-flush">
          <li class="list-group-item">{{i.assessmentName}}</li>
          <li class="list-group-item">A second item</li>
          <li class="list-group-item">A third item</li>
        </ul>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <nav aria-label="Page navigation example">
        <ul class="pagination">
          <li class="page-item">
            <a class="page-link" href="#" aria-label="Previous">
              <span aria-hidden="true">&laquo;</span>
            </a>
          </li>
          <li class="page-item"><a class="page-link" href="#">1</a></li>
          <li class="page-item"><a class="page-link" href="#">2</a></li>
          <li class="page-item"><a class="page-link" href="#">3</a></li>
          <li class="page-item">
            <a class="page-link" href="#" aria-label="Next">
              <span aria-hidden="true">&raquo;</span>
            </a>
          </li>
        </ul>
      </nav>
    </div>
  </div>
</div>

<!-- <div>
  <ul [ngSwitch]="choice">
    <li *ngSwitchCase="1">first</li>
    <li *ngSwitchCase="2">second</li>
    <li *ngSwitchCase="3">three</li> 
  </ul>
  <button (click)="nextchoice()">click here</button>
</div> -->

<div class="box1" [ngClass]="{bordered : true}">
Lorem ipsum dolor, sit amet consectetur adipisicing elit. Optio, ipsum?
</div>
<div class="box2" [ngClass]="{bordered:false}">
Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquid pariatur exercitationem autem rem dignissimos dolore est ipsum ipsa laboriosam quidem!
</div>
